// bower:scss
// endbower

a {
  color: #000;
  text-decoration: none;
}

.divider{
  border-bottom: 1px solid #ddd;
  padding-left: 0;
  padding-right: 0;
}

.text-underline{
  text-decoration: underline;
}

.text-indent{
  padding-left: 30px;
}

.text-right {
  text-align: right;
}

.clearfix:after, .row:after{
  clear: both;
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after{
  display: table;
  content: " ";
}

.text-small {
  font-size: 85%;
}

.text-x-small {
  font-size: 65%;
}

.fa-1x {
  font-size: 1.33333333em;
  line-height: .75em;
}

.text-gray{
  color: #777;
}

.text-large {
  font-size: 125%;
}

.text-xlarge {
  font-size: 200%;
}

.text-bold {
  font-weight: bold;
}

.red-color {
  color: #dd1760;
}

.text-header{
  margin-top: 5px;
  margin-bottom: 5px;
}




