// bower:scss
// endbower

.btn {
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-default {
  color: #000;
  background-color: transparent;
  border-color: #ccc;
}

.btn-nav {
  background: linear-gradient(#fafafa, #eee) #eee;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .50em;
}

.label-danger {
  background-color: #d9534f;
}

.label-default {
  background-color: #949494;
}

.label-inverse-danger{
  color: #d9534f;
  background-color: #fff;
  border: 1px solid #d9534f;
}

.btn-group {
  margin: 10px auto;
}

.btn-group > .btn-group-item > button {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.btn-group-justified {
  width: 100%;
}

.btn-group-justified > .btn-group-item > button {
  text-align: center;
}

.btn-group-justified > .btn-group-item {
  display: table-cell;
  width: 1%;
}


.btn-filter {
  border-radius: 0 4px 4px 0;
  border-left: none;
  margin-left: 20px;
  position: relative;
}

.btn-filter-box {
  display: block;
  width: 20px;
  height: 42px;
  position: absolute;
  top: -2px;
  left: -20px;
  overflow: hidden;
}
.btn-filter-tip {
  display: block;
  width: 50px;
  height: 50px;
  margin: -5px 0 0 11px;
  transform: rotate(45deg);
}

.btn-filter-grad {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  background: linear-gradient(120deg, #fafafa, #eee);
}

