// bower:scss
// endbower

.main-body {
  top: 50px;
  padding: 10px;
  @media (min-width: 768px) {
    top: 0;
    margin-top: -50px;
    margin-left: 200px;
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (min-width: 1280px) {
    padding-left: 200px;
    padding-right: 200px;
  }
}

.main-body-header {
  margin-bottom: 10px;
}

.main-body-content-list-info-item {
  position: relative;
  display: block;
  padding: 10px 0;
  margin: -1px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.main-body-content-list-info-item:last-child{
  border-bottom-color: transparent;
}

.main-body-content-list-info-item .cell {
  width: 50%;
}

.main-body-content-list-info {
  display: none;
  margin: 10px 0;
}

.main-body-content-list-info .span6 {
  @media (min-width: 768px) {
    float: left;
    width: 49%;
  }
}

.main-body-content-list-info .span6:first-child {
  @media (min-width: 768px) {
    margin-right: 2%;
  }
}

input.main-body-content-desc-icon[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label.main-body-content-desc-icon {
  cursor: pointer;
  user-select: none;
}

input.main-body-content-desc-icon:checked ~ .main-body-content-list-info {
  display: block;
}

label.main-body-content-desc-icon i:before{
  content: "\f055";
}

input.main-body-content-desc-icon:checked ~ label.main-body-content-desc-icon i:before {
  content: "\f056";
}

.main-body-content-filters {
  padding: 5px;
  border: 1px solid #ddd;
  border-top-color: transparent;
}

.main-body-content-experts-item {
  margin-top: 10px;
  padding: 15px 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.2);
}

.main-body-content-experts-item p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-body-content-experts-item-content {
  margin-bottom: 10px;
}

.main-body-content-experts-item-confirmed {
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  margin-left: -10px;
  margin-right: -10px;
}

.main-body-content-experts-item-confirmed-text {
  margin: 15px 10px;
}

.main-body-content-experts-item-menu {
  margin: -15px -10px;
  margin-top: 0;
  @media (min-width: 768px) {
    direction: rtl;
    padding: 0;
  }
}

.main-body-content-experts-item-menu .list-group-item {
  direction: ltr;
  @media (min-width: 768px) {
    display: table-cell;
    width: 1%;
  }
}

.main-body-content-experts-item-menu > .list-group-item > a {
  @media (min-width: 768px) {
    text-align: center;
    display: block;
  }
}


.main-body-content-filters {
  padding-top: 10px;
  padding-bottom: 10px;
}


.main-body-content-filters .filters-item {
  display: inline-block;
  vertical-align: bottom;
}

.main-body-content-filters .filters-item-btn {
  width: 100%;
}

.filters-item-btn.select-control{
  height: 42px;
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.select-main {
  display: block;
  margin-top: 10px;
  @media (min-width: 768px) {
    display: none;
  }
}

.main-body-content-filters-expand {
  width: 32.6%;
  margin-right: 1%;
  @media (min-width: 768px) {
    width: 25%;
  }
}

.main-body-content-filters .main-body-content-filters-export {
  width: 32.6%;
  margin-right: 1%;
  @media (min-width: 768px) {
    display: none;
  }
}

.btn-export-top {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.main-body-content-filters-sort {
  @media (min-width: 768px) {
    width: 48%;
    margin-right: 1%;
  }
}

.main-body-content-filters-filter {
  width: 32.6%;
  @media (min-width: 768px) {
    width: 25%;
  }
}

.main-body-content-filters-filter .filters-item-btn {
  width: 85%;
  margin-left: 15%;
  @media (min-width: 768px) {
    width: 80%;
    margin-left: 20%;
  }
}
