// bower:scss
// endbower

.main-header {
  height: 50px;
}

.main-header-menu-icon {
  position: absolute;
  margin: 10px 0 0 10px;
}

.main-header-left-block {
  height: 50px;
  background: url("/images/logo.png") 50% 50% no-repeat;
  background-size: 50%;
  background-color: #fff;
  @media (min-width: 768px) {
    width: 200px;
    background-size: 150%;
  }
}
