// bower:scss
// endbower

html, body{
  height: 100%;
  width: 100%;
}

body {
  background: #fafafa;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  width:100%;
  position:relative;
}

.list-group{
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.list-group .list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin: 0;
  background-color: #fafafa;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
}

.list-group .list-group-item.menu-item {
  border-width: 0 1px 1px 0;
}

.list-group .list-group-item.block-item {
  border-width: 1px 0 0 0;
  @media (min-width: 768px) {
    border-right-width: 1px;
  }
}

.list-group .list-group-item.block-item:first-child {
  @media (min-width: 768px) {
    border-right-width: 0;
  }
}

.inverse-color, .inverse-color .list-group .list-group-item {
  background-color: #444444;
  color: rgba(255, 255, 255, 0.65);
}

.inverse-color .list-group .list-group-item a {
  color: rgba(255, 255, 255, 0.65);
}

.inverse-color .list-group .list-group-item {
  border-color: #000000;
}

.inverse-color .list-group .list-group-item.active {
  background-color: #000;
}

.inverse-color .list-group .list-group-item.active a {
  color: #fff;
}
