// bower:scss
// endbower

.main-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
}

input.main-header-menu-icon[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label.main-header-menu-icon {
  cursor: pointer;
  user-select: none;
  color: #dd1760;
  @media (min-width: 768px) {
    display: none;
  }
}

.main-header-left-menu {
  position: absolute;
  width: 200px;
  top: 50px;
  left: -200px;
  z-index: 100;
  height: 100%;
  @media (min-width: 768px) {
    left: 0;
  }
}

input.main-header-menu-icon:checked ~ .main-header-left-menu {
  left: 0;
}

.main-header-menu-logged {
  padding: 10px 15px;
}

.main-header-menu-logged-name {
  margin-left: 20px;
  line-height: 20px;
}


